*,
*::before,
*::after {
	box-sizing: border-box;
}
img {
	font-style: italic;
	width: 200px;
	height: 200px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75;
	border: 5px solid #3882f6;
	border-radius: 15px;
}

body {
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	display: flex;
	padding: 15px 15%;
	font-size: 18px;
	background-color: #1f2937;
	color: #f9faf8;
}
header p {
	margin: 0 10px;
}

.logo {
	margin-right: auto;
	font-weight: bold;
	font-size: 21px;
}

.hero {
	background-color: #1f2937;
	color: #f9faf8;
	padding: 55px 15% 120px;
	display: flex;
}

.side-left {
	width: 50%;
	padding-right: 55px;
}
.side-right {
	background-color: gray;
	text-align: center;
	width: 50%;
}
.side-right p {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

button {
	background-color: #3882f6;
	padding: 15px 40px;
	border-radius: 15px;
	border-style: none;
	color: #f9faf8;
	font-size: 15px;
	font-weight: bold;
}

.section-1 {
	margin: 15px 15%;
	padding-top: 15px;
}

.section-1 h2 {
	text-align: center;
	font-size: 2rem;
}

.image-section {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}

.image-section p {
	padding-left: 35px;
	width: 150px;
	text-align: center;
}

.image {
	width: 300px;
	height: auto;
}

.quote {
	background-color: #e5e7eb;
	font-size: 36px;
	font-weight: lighter;
	color: #1f2937;
	text-align: center;
	padding: 40px 400px;
}

.author {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: end;
}
